h1 {
    text-transform: uppercase;
    font-family: 'Arial Black';
    font-weight: bolder;

}

body {
    text-align: center;
    background-color: rgba(211, 219, 213, 0.807);
}

.listado {
    margin: 0 auto;
    width: 300px;
    font-size: 1.3rem;
    text-align: center;
}

.numero {
    text-align: left;
    display: inline-block;
}

li:hover {
    background: #333;
    color: antiquewhite;
}